### 데이터 분석 기초

#### ✔ 데이터 분석이란?

- 데이터를 수집하고 처리함으로써 유의미한 가치를 창출하는 과정.


---

#### ✔ 라이브러리 : pandas

> $ pip install pandas

### Pandas 기초

In [1]:
import pandas as pd
import numpy as np

#### 자료구조

**1. 시리즈 : 리스트 인덱스 - 값**

In [2]:
s = pd.Series([1, 3, 5, 7, 9])
s

0    1
1    3
2    5
3    7
4    9
dtype: int64

**2. 데이터 프레임**

In [3]:
dates = pd.date_range('20210131', periods=6)
print(type(dates))

<class 'pandas.core.indexes.datetimes.DatetimeIndex'>

In [4]:
# 6행 3열의 랭덤 변수를 생성, index에 dates Series를 넣어줌, 칼럼명은 'A, B, C'로 생성.
df = pd.DataFrame(np.random.randn(6, 3), index = dates, columns = ['A','B','C'])
df.head()

                   A         B         C
2021-01-31  0.213893 -1.014226 -0.030111
2021-02-01 -0.948608 -0.808479  0.907109
2021-02-02 -2.037413 -2.098411 -0.627714
2021-02-03  1.621501  0.548298 -1.459541
2021-02-04 -1.459691  1.962872 -0.756272

In [5]:
df.head(6)

                   A         B         C
2021-01-31  0.213893 -1.014226 -0.030111
2021-02-01 -0.948608 -0.808479  0.907109
2021-02-02 -2.037413 -2.098411 -0.627714
2021-02-03  1.621501  0.548298 -1.459541
2021-02-04 -1.459691  1.962872 -0.756272
2021-02-05  1.440184  0.175989 -1.146874

In [6]:
df.index

DatetimeIndex(['2021-01-31', '2021-02-01', '2021-02-02', '2021-02-03',
               '2021-02-04', '2021-02-05'],
              dtype='datetime64[ns]', freq='D')

In [7]:
df.columns

Index(['A', 'B', 'C'], dtype='object')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6 entries, 2021-01-31 to 2021-02-05
Freq: D
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       6 non-null      float64
 1   B       6 non-null      float64
 2   C       6 non-null      float64
dtypes: float64(3)
memory usage: 192.0 bytes

In [9]:
df.describe()

              A         B         C
count  6.000000  6.000000  6.000000
mean  -0.195022 -0.205659 -0.518900
std    1.529873  1.415367  0.850853
min   -2.037413 -2.098411 -1.459541
25%   -1.331920 -0.962789 -1.049223
50%   -0.367357 -0.316245 -0.691993
75%    1.133612  0.455221 -0.179512
max    1.621501  1.962872  0.907109

In [10]:
# ascending을 이용해 False오름차순, 내림차순을 정할 수 있다.
df.sort_values(by = 'B', ascending = False)

                   A         B         C
2021-02-04 -1.459691  1.962872 -0.756272
2021-02-03  1.621501  0.548298 -1.459541
2021-02-05  1.440184  0.175989 -1.146874
2021-02-01 -0.948608 -0.808479  0.907109
2021-01-31  0.213893 -1.014226 -0.030111
2021-02-02 -2.037413 -2.098411 -0.627714

In [11]:
# 해당 칼럼만 Series로 보여줌.
df['A']

2021-01-31    0.213893
2021-02-01   -0.948608
2021-02-02   -2.037413
2021-02-03    1.621501
2021-02-04   -1.459691
2021-02-05    1.440184
Freq: D, Name: A, dtype: float64

In [12]:
# 데이터 프레임 자료구조에서도 슬라이싱이 가능하다.
df[0:3]

                   A         B         C
2021-01-31  0.213893 -1.014226 -0.030111
2021-02-01 -0.948608 -0.808479  0.907109
2021-02-02 -2.037413 -2.098411 -0.627714

In [13]:
df['2021-01-31' : '2021-02-01']

                   A         B         C
2021-01-31  0.213893 -1.014226 -0.030111
2021-02-01 -0.948608 -0.808479  0.907109

In [14]:
df.loc[dates[0]]

A    0.213893
B   -1.014226
C   -0.030111
Name: 2021-01-31 00:00:00, dtype: float64

In [15]:
df.loc['2021-01-31':'2021-02-01',['A', 'B']]

                   A         B
2021-01-31  0.213893 -1.014226
2021-02-01 -0.948608 -0.808479

In [16]:
df.loc[dates[0], 'A']

0.2138931033674876

In [17]:
df.iloc[3]

A    1.621501
B    0.548298
C   -1.459541
Name: 2021-02-03 00:00:00, dtype: float64

In [18]:
df.iloc[1:4, 1:3]

                   B         C
2021-02-01 -0.808479  0.907109
2021-02-02 -2.098411 -0.627714
2021-02-03  0.548298 -1.459541

In [19]:
df.iloc[[1,2,4], [0,1]]

                   A         B
2021-02-01 -0.948608 -0.808479
2021-02-02 -2.037413 -2.098411
2021-02-04 -1.459691  1.962872

In [20]:
df.iloc[1:3, :]

                   A         B         C
2021-02-01 -0.948608 -0.808479  0.907109
2021-02-02 -2.037413 -2.098411 -0.627714

In [21]:
df.iloc[:,[0]]

                   A
2021-01-31  0.213893
2021-02-01 -0.948608
2021-02-02 -2.037413
2021-02-03  1.621501
2021-02-04 -1.459691
2021-02-05  1.440184

In [22]:
df[df.A > 0]

                   A         B         C
2021-01-31  0.213893 -1.014226 -0.030111
2021-02-03  1.621501  0.548298 -1.459541
2021-02-05  1.440184  0.175989 -1.146874

In [23]:
df[df > 0]

                   A         B         C
2021-01-31  0.213893       NaN       NaN
2021-02-01       NaN       NaN  0.907109
2021-02-02       NaN       NaN       NaN
2021-02-03  1.621501  0.548298       NaN
2021-02-04       NaN  1.962872       NaN
2021-02-05  1.440184  0.175989       NaN

In [24]:
df2 = df.copy()
df2 = df[df > 0]
df2 = df2.sort_values(by="A", ascending = False)
df2

                   A         B         C
2021-02-03  1.621501  0.548298       NaN
2021-02-05  1.440184  0.175989       NaN
2021-01-31  0.213893       NaN       NaN
2021-02-01       NaN       NaN  0.907109
2021-02-02       NaN       NaN       NaN
2021-02-04       NaN  1.962872       NaN

In [25]:
df2['A-Rank'] = [1, 2, 3, 4, 5, 6]
df2

                   A         B         C  A-Rank
2021-02-03  1.621501  0.548298       NaN       1
2021-02-05  1.440184  0.175989       NaN       2
2021-01-31  0.213893       NaN       NaN       3
2021-02-01       NaN       NaN  0.907109       4
2021-02-02       NaN       NaN       NaN       5
2021-02-04       NaN  1.962872       NaN       6

In [26]:
df2['A-Rank'].isin([1, 2, 3])

2021-02-03     True
2021-02-05     True
2021-01-31     True
2021-02-01    False
2021-02-02    False
2021-02-04    False
Name: A-Rank, dtype: bool

In [27]:
# 매개변수로 전달되는 함수를 데이터 프레임에 적용가능.
df2.apply(np.cumsum)

                   A         B         C  A-Rank
2021-02-03  1.621501  0.548298       NaN       1
2021-02-05  3.061686  0.724287       NaN       3
2021-01-31  3.275579       NaN       NaN       6
2021-02-01       NaN       NaN  0.907109      10
2021-02-02       NaN       NaN       NaN      15
2021-02-04       NaN  2.687159       NaN      21

In [28]:
df2

                   A         B         C  A-Rank
2021-02-03  1.621501  0.548298       NaN       1
2021-02-05  1.440184  0.175989       NaN       2
2021-01-31  0.213893       NaN       NaN       3
2021-02-01       NaN       NaN  0.907109       4
2021-02-02       NaN       NaN       NaN       5
2021-02-04       NaN  1.962872       NaN       6

In [29]:
df2.apply(lambda x: x.max() - x.min())

A         1.407608
B         1.786883
C         0.000000
A-Rank    5.000000
dtype: float64